/* Add CSS Styling */

.odds {
    background-color: #f8698f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cooler {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: rgb(100, 255, 100);
    font-weight: bold;
}